*{
	box-sizing: border-box;
}

body{
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	/*Avenir ya no esta en google fonts ni en Monotype */
}

p{
	margin: 0;
	padding: 0;
}

.container{
	width: 200px;
	border: 1px solid gray;
}

.option{
	height: 40px;
	border: 1px solid gray;
}

.text{
	margin-top: 10px;

	display: block;
}

.selected{
	color: #66CC99;
}